body{
    font-family: "Poppins", sans-serif;
  margin:0;
}

.orangecolor{
    color: orange;
}

h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}
.fexible-container{
    
    display:flex;
    margin: 30px;

    
}
.fexible-container1{
    
    display:flex;
    margin: 0;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    
}

.half-width{
    width: 50%;
}

.half-width img{
    width: 60%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato
    );
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    box-shadow: 0 0 15px rgb(248, 151, 167)
    
}
.half-width1{
    width: 50%;
}

.half-width1 img{
    width: 35%;
    margin-left: 150px;
    
}

.half-width1 p{
    margin-right: 80px;
}

.recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
   margin-bottom: 100px;
}


.box{
    height: 500px;
    width:335px;
    border: 10px solid white;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
   
    box-shadow: 0 0 10px gray;
    border-radius: 15px;


}

.box img{
    width: 100%;
    text-align: center;
}

.box p{
    text-align: justify;
}

.like{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}
.like p{
    text-align: center;
}
.box2{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    margin-bottom: 100px;
}

.end{
    background-image: linear-gradient(black,black);
    height: 120px;
    margin-top:2%;
    padding-top: 1%;
    
}

.mid h2{
    text-align: center;
}